#projects-section {
  display: none;
  width: 80%;
  margin-left:9%;
  margin-right:9%;
  padding: 1% 1% 2% 1%;
  border: thin solid black;
  margin-bottom: 5%;
  text-align: left;
}

#projects-section .project {
  margin-bottom: 1rem;
}

#projects-section h3 {
  margin-bottom: 1rem;
}

.filter-container {
  margin-bottom: 2rem;
}

#projects-section h4 {
  margin-bottom: 0.5rem;
}

#projects-section h5 {
  margin-bottom: 0.5rem;
}

#projects-section div {
  margin-bottom: 0.5rem;
}

#projects-section p {
  text-indent: 1rem;
  margin-bottom: 0.5rem;
}
