@media screen and (min-width: 640px) {
  ul {
    display: block;
    width: 100%;
    text-align: center;
  }

  li {
    display: inline;
    margin-left: 4%;
    margin-right: 4%;
  }

  .site-footer {
    display:block;
  }

  .icon-menu {
    display: none;
  }
}
