.header-title {
  text-align: center;
  margin-bottom: 2rem;
}

.site-footer {
  display: none;
  text-align: center;
  margin-top: 2rem;
  border-style: solid;
  border-width: medium;
  border-color: #737373;
  background-color: #EFEFEF;
}

.icon-menu {
  width: 2rem;
  float: right;
  display:block;
}

.content-section {
  margin-top: 1rem;
  padding: .5rem;
}

.article-body {
  margin-top: .5rem;
}

.content-section {
  border-style: solid;
  border-width: medium;;
  border-color: #737373;
  background-color: #EFEFEF;
}

.site-header{
  border-style: solid;
  border-width: medium;
  border-color: #737373;
  background-color: #EFEFEF;
}
