.site-header {
  text-align: center;
}

.site-footer {
  text-align: center;
}

.icon-menu {
  width: 3em;
  float: right;
}

img {
  max-width: 100%;
}

li {
  padding-left: 2em;
  padding-right: 2em;
}
