.header-title {
  margin-bottom: 2rem;
}

.site-footer {
  display: none;
  text-align: center;
  margin-top: 2rem;
  border-style: solid;
  border-width: medium;
  border-color: #737373;
  background-color: #EFEFEF;
}

.icon-menu {
  width: 2rem;
  position: absolute;
  left: 0.5%;
  bottom: 0.5%;
}

.content-section {
  margin-top: 1rem;
  padding: 0.5rem 0.68% 0.5rem 0.68%;
}

.article-body {
  margin-top: 0.5rem;
}

.content-section {
  border-style: solid;
  border-width: medium;;
  border-color: #737373;
  background-color: #EFEFEF;
}

.site-header{
  border-style: solid;
  border-width: medium;
  border-color: #737373;
  background-color: #EFEFEF;
  text-align: center;
}

.photo-container {
  height: 16rem;
  text-align: center;
  margin-top: 1rem;
}
