.icon-menu {
  display:block;
}

.nav-bar:hover ul{
  display: block;
}

.nav-bar ul{
  display: none;
}

.nav-bar li {
  display: inline;
}

.site-footer ul{
  display: none;
}

@media screen and (min-width: 640px) {
  .nav-bar ul {
    display: block;
  }

  .nav-bar li {
    display: inline;
  }

  .site-footer ul {
    display: block;
  }

  .site-footer li {
    display: inline;
  }

  .icon-menu {
    display: none;
  }
}
